.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }



body {
    background-image: url('pics/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    }

section{

display: grid;


}

body {
    background-image: url('pics/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    }

    @keyframes appear{
        from{
            opacity: 0;
           
        }
        to{
            opacity: 1;
            
        }

    }

    .password{
        animation: appear 1.5s ease;
        text-align: center;
        border: none;
    }

    @keyframes appear1{
        from{
            scale: 0.5;
            opacity: 0;
           
        }
        to{
            scale: 1;
            opacity: 1;
            
        }

    }

    h1{
    letter-spacing: 5px;
    font-variant: small-caps;
    margin-top: 50px;
    }

    .txt{
        animation: appear1 1.5s linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }